target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/


*.class
*.swp
*.swo
bin
test-output/
src/generated/*
logs/
.DS_Store
pom.xml.versionsBackup
release.properties
**.xml.releaseBackup


node_modules

/.cache
/build
/public/build
.env

logfile
